* {
	box-sizing: border-box;
	text-decoration: none;
}

body {
	height: 100%;
	margin:0;
	background: purple;

}




.icon-bar {
	background-color: rgb(189, 148, 148);
}

.navbar-header h1{
	width: 300px;;
	font-size: 50px;
	font-family: 'Great Vibes', cursive;
	color: rgb(189, 148, 148);
	font-weight: bold;
	margin-left:60px;
}


.navbar {
	background-image: url("../images/backgroundlala.gif");
	border-bottom: 4px solid #666666;
	border-radius:0px;
	margin-bottom: 0px;
	
}





.nav li a{
	font-size: 20px;
	font-family: 'Great Vibes', cursive;
	min-width: 100px;
	line-height: 45px;
	color:rgb(189, 148, 148);
	text-align: center;
	font-weight: bold;
	padding-right: 10px; 
	margin-top: 10px;
	display:block;
}

.nav li a:hover{
	background-image: url(../images/fireworks.gif);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	color:#dddddd;
	
	}
.nav li a:active {
	color: purple;
	
}

.navbar-right{
	display: block;
}
.navbar-right a {
	display: block;
}
.navbar-right li{
	display: block;
}

.active {
	background-color: purple;
}

.container-fluid {

	background-image: url("../images/backgrounds-wallpaper.jpg");
	/* border-radius:5px; */
}

.row {
	margin:0;
	margin-bottom: 50px;
}

.inside {
	width: 250px;
	height: 100px;
	margin-left: 9px;
	margin-bottom: 90px;
	
	-webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -o-transition:all .1s linear;
    transition:all .1s linear;
    -moz-border-radius:10px 10px 10px 10px ;
    -webkit-border-radius:10px 10px 10px 10px ;
    border-radius:10px 10px 10px 10px ;
}

.inside:hover {
    color: white;

    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    transform: scale(1.09);

    -webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -o-transition:all .1s linear;
    transition:all .1s linear;
    -moz-border-radius:10px 10px 10px 10px ;
    -webkit-border-radius:10px 10px 10px 10px ;
    border-radius:10px 10px 10px 10px ;
    }

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

	
.container h2 {
	margin-bottom:10px;
	font-weight: bold;
}
.container h3 {
	color: purple;
	font-family: 'Great Vibes', cursive;
	margin-bottom:10px;
	font-weight: bold;
}

.content {
	background-color: #ffffff;
	border: 1px solid #dddddd; 
	border-radius:5px;
	color: #777777;
	margin: 20px 0px 20px 0px;
	overflow-y: auto;
}

.content h2 {
	font-family: 'Great Vibes', cursive;
	color: purple;
	font-weight: bold;
	padding-left:20px;
}


.content p {
	padding: 0px 20px 0px 20px;

}

.content hr {
	border:2px solid #dddddd;
	margin:0px 20px 20px 20px;
	}

.content img {
	margin-bottom: 20px;
	margin-left: 0px;
}

.about_me {
	font-size: 20px;
	text-align: center;
}

.quote {
	float: right;

}

.port_name {
	height: 25%;
	font-size: 35px;
	font-style: bold;
	width:100%;
	text-align: center;
	background-color: purple;
	color:#ffffff;
	font-family: 'Great Vibes', cursive;
	position:relative;
	bottom: 100px;
	padding: .7px;

	
	-webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -o-transition:all .1s linear;
    transition:all .1s linear;
    /* -moz-border-radius:10px 10px 10px 10px ;
    -webkit-border-radius:10px 10px 10px 10px ;
    border-radius:10px 10px 10px 10px ; */
}

.port_name:hover {
    color: white;
	font-size: 40px;
	-webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    transform: scale(1.07);

	opacity: .9;
    -webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -o-transition:all .1s linear;
    transition:all .1s linear;
    -moz-border-radius:5px 5px 5px 5px ;
    -webkit-border-radius:5px 5px 5px 5px  ;
    border-radius:5px 5px 5px 5px  ;
	}
	




.port_name h4 {
	font-size: 30px;
	margin:0px;
	padding:10px;
}

.form-group {
	color: purple;
	margin:0px 20px 20px 20px;
}

.connect_margin {
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius:5px;
	color: #777777;
	margin: 20px 0px 20px 0px;
}

.connect_margin hr {
	border:1px solid #dddddd;
	margin: 0px 20px 20px 20px;
	}

.connect_margin img {
	margin-bottom: 20px;
}	

footer {
	color: #dddddd;
	border-top: 6px solid #666666;
	/* border-radius: 5px; */
	background-image: url("../images/backgroundlala.gif");
	height: 100px;
	width:100%;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	left: 0px;
	bottom: 0px;
	position:relative;
}

button[type=submit]{
  width:150px;
  padding:10px;
  margin: 0px 0px 20px 20px;
  background-color:purple;
  color:white;
  font-weight:bold;
}

@media screen and (min-width: 500px) and (max-width: 2000px){
    .inside {
		width: 85%;
		height: 200px;
		margin-left: 5%;
		margin-bottom: 15%;

	}  
		
@media screen and (min-width: 0) and (max-width: 770px){
	.inside {
		width: 85%;
		height: 200px;
		margin-left: 5%;
		margin-bottom: 30%;

	}  
