* {
	box-sizing: border-box;
	text-decoration: none;
}
body {
	height: 100%;
	margin:0;
	background: purple;
}
.icon-bar {
	background-color: rgb(255, 255, 255);
	box-shadow: 2px 2px 3px  #ff0000;

}
.navbar-header h1{
	width: 300px;;
	font-size: 50px;
	font-family: 'Great Vibes', cursive;
	color: rgb(255, 255, 255);
	font-weight: bold;
	margin-left:60px;
	text-shadow: 2px 2px 3px  #ff0000;

}
.container {
	margin-left: 0;
}
.container #myNavbar{
	position: absolute;
	/* margin-left: 335px; */
	margin-left: 45%;

	margin-right: 0px;
	width: 50%;
	/* margin-right: 145px; */
}

.navbar {
	background-image: url("../images/backgroundlala.gif");
	border-bottom: 4px solid #350000;
	border-radius:0px;
	margin-bottom: 0px;
	box-shadow:  0px 0px 20px 10px  #8a0505;

}
.nav li a{
	font-size: 30px;
	font-family: 'Great Vibes', cursive;
	min-width: 100px;
	line-height: 45px;
	color: rgb(255, 255, 255);
	text-align: center;
	font-weight: bold;
	padding-right: 10px; 
	margin-top: 10px;
	display:block;
	text-shadow: 2px 2px 3px  #ff0000;

}
.nav li a:hover{
	background-image: url(../images/fireworks.gif);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	color:#dddddd;
	border-radius: 50%;
	}
.nav li a:active {
	color: purple;
}
.navbar-right{
	display: block;
}
.navbar-right a {
	display: block;
}
.navbar-right li{
	display: block;
}
.active {
	background-color: purple;
}
.container-fluid {
	background-image: url("../images/backgrounds-wallpaper.jpg");
	/* border-radius:5px; */
}
.row {
	margin:0;
	margin-top: 20px;
	margin-bottom: 50px;
}
.inside img {
	box-shadow:  0px 0px 20px 10px rgba(6, 0, 75, 0.694);
	border-radius: 5px;
}
.inside {
	width: 250px;
	height: 100px;
	margin-top: 10px;
	margin-left: 9px;
	margin-bottom: 80px;
	-webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -o-transition:all .1s linear;
    transition:all .1s linear;
    -moz-border-radius:10px 10px 10px 10px ;
    -webkit-border-radius:10px 10px 10px 10px ;
	border-radius:10px 10px 10px 10px ;


}
.inside:hover {
    color: white;
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    transform: scale(1.09);
    -webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -o-transition:all .1s linear;
    transition:all .1s linear;
    -moz-border-radius:10px 10px 10px 10px ;
    -webkit-border-radius:10px 10px 10px 10px ;
    border-radius:10px 10px 10px 10px ;
    }
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.container h2 {
	margin-bottom:10px;
	font-weight: bold;
}
.container h3 {
	color: purple;
	font-family: 'Great Vibes', cursive;
	margin-bottom:10px;
	font-weight: bold;
}
.content {
	background-color: #ffffff;
	border: 1px solid #dddddd; 
	border-radius:5px;
	color: #777777;
	margin: 20px 0px 20px 0px;
	overflow-y: auto;
}
.content h2 {
	font-family: 'Great Vibes', cursive;
	color: purple;
	font-weight: bolder;
	padding-left:20px;

}
.content p {
	padding: 0px 20px 0px 20px;
	text-align: justify;

}
.content hr {
	border:2px solid #dddddd;
	margin:0px 20px 20px 20px;
	}
.content img {
	margin-bottom: 20px;
	margin-left: 0px;
}
.about_me img{
	margin-left: 2%;
	margin-top: 10px;
	font-size: 20px;
	/* text-align: center; */
	box-shadow:  0px 0px 20px 10px rgba(3, 0, 41, 0.694);
}
.about_me p {
	text-align: justify;
}
.quote {
	float: right;

}
.port_name {
	height: 25%;
	font-size: 35px;
	font-style: bold;
	width:100%;
	text-align: center;
	background-color: purple;
	color:#ffffff;
	font-family: 'Great Vibes', cursive;
	position:relative;
	bottom: 100px;
	padding: .7px;
	box-shadow:  0px 0px 30px 10px  #000000;

	

	
	-webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -o-transition:all .1s linear;
    transition:all .1s linear;
    /* -moz-border-radius:10px 10px 10px 10px ;
    -webkit-border-radius:10px 10px 10px 10px ;
    border-radius:10px 10px 10px 10px ; */
}
.port_name:hover {
    color: white;
	font-size: 40px;
	-webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    transform: scale(1.07);
	opacity: .9;
    -webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -o-transition:all .1s linear;
    transition:all .1s linear;
    -moz-border-radius:5px 5px 5px 5px ;
    -webkit-border-radius:5px 5px 5px 5px  ;
    border-radius:5px 5px 5px 5px  ;
	}
.port_name h4 {
	font-size: 30px;
	margin:0px;
	padding:10px;
}
.form-group {
	color: purple;
	margin:0px 20px 20px 20px;
}
.connect_margin {
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius:5px;
	color: #777777;
	margin: 20px 0px 20px 0px;
}
.connect_margin hr {
	border:1px solid #dddddd;
	margin: 0px 20px 20px 20px;
	}
.connect_margin img {
	margin-bottom: 20px;
	margin-left: 3px;
	margin-right: 3px;
}	
footer {
	color: #dddddd;
	text-shadow: 2px 2px 3px  #ff0000;
	background-image: url("../images/backgroundlala.gif");
	height: 100px;
	width:100%;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	left: 0px;
	bottom: 0px;
	position:relative;
	border-top: 4px solid #350000;
	box-shadow:  0px 0px 20px 10px  #8a0505;

}
button[type=submit]{
  width:150px;
  padding:10px;
  margin: -40px 0px 40px 30px;
  background-color:purple;
  color:white;
  font-weight:bold;
  box-shadow:  0px 0px 20px 5px  #00000070;

}
@media screen and (min-width: 500px) and (max-width: 3000px){
    .inside {
		width: 85%;
		height: 170px;
		margin-left: 5%;
		margin-bottom: 15%;
	}  

}
@media screen and (min-width: 0) and (max-width: 770px){
	.inside {
		width: 90%;
		height: 200px;
		margin-left: 5%;
		margin-bottom: 30%;

	}
	.container #myNavbar{
		position: relative;
		margin-left: 0;
		width: 100%;
	}
	.navbar-header{
		position: relative;
		padding-left: 6%;
		width: 104%;
	}
	.navbar-header h1{
		width: 100%;
		text-align: center;
		font-size: 250%;
		font-family: 'Great Vibes', cursive;
		font-weight: bold;
	}
	.content img {
		margin-left: 4%;
	}

}